:root {
  --gray: #222;
  --litle: #e3e6f3;
  --color: #1a1a1a;
  --color-green: #088178;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  --box-shadow2: 20px 20px 34px rgba(0, 0, 0, 0.03);
  --yellow: linear-gradient(180deg, #f8d49a -146.42%, #fad79d -46.42%);
  --orange: #fcd31f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #bb67ff 0%, #c484f3 100%);
  --pink: #ff919d;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
  --white: #fff;
}

.section-p1 {
  padding: 40px 80px;
}
.section-p2 {
  padding: 40px 15px;
}
.section-m1 {
  margin: 40px 0;
}
.col img{
  width: 200px;
}
button.normal {
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: var(--white);
  transition: 0.2s;
  font-weight: 600;
  padding: 15px 30px;
  color: var(--color);
}

button.white {
  font-size: 13px;
  cursor: pointer;
  border: 1px solid var(--litle);
  outline: none;
  background-color: transparent;
  transition: 0.2s;
  font-weight: 600;
  padding: 11px 18px;
  color: var(--color);
}

body {
  width: 100%;
  /* overflow: hidden; */
}
/* header  */
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: var(--white);
  box-shadow: var(--box-shadow);
  z-index: 999;
  position: sticky;
  top: 0;
  right: 0;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
header.sticky {
  background: var(--white);
  border-bottom: 1px solid var(--yellow);
}

/* image  */
a img {
  width: 60px;
}
/* navbar */
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  line-height: 20px;
  font-size: 15px;
  color: #fcd31f;
  font-weight: 500;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

#navbar li a.active {
  --tw-text-opacity: 1;
  color: rgb(234 179 8 / var(--tw-text-opacity));
    font-weight: bold;
}

#navbar li a:hover {
  --tw-text-opacity: 1;
  color: rgb(234 179 8 / var(--tw-text-opacity));}

#mobile {
  display: none;
}
#close {
  display: none;
}
/* home page */

.number {
  font-size: 30px;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
}

.section-p1{
  padding: 40px 80px;
}
 .bg-rainbow{
  width: 200px;
  height: 8px;
  background: linear-gradient(to right,rgba(247, 12, 12, 0.884),rgb(247, 242, 242));
  background-position: center;
  background-size: cover;
  border: none;
  border-top-left-radius: 5px;
 }
 .bordered{
  box-shadow: rgba(68, 88, 144, 0.1) 0px 10px 29px 0px;
  padding: 20px;
  position: relative;
  border-radius: 5px;
  background-color:transparent;
  
 }
.box_works{
  position: relative;
  box-shadow: rgba(68, 88, 144, 0.1) 0px 10px 29px 0px;
   padding: 20px;
  overflow: hidden;
  border-radius: 10px;
  margin: 0px 10px 40px;
  background: rgb(255, 255, 255);
  transition: all 0.3s ease-in-out 0s;
  border-top: 4px solid var(--mainLightBlue);
}
.box_works i{
  font-size: 15px;
  background: #fcd31f;
  padding: 10px;
  color: #55500b;
  border: 1px solid rgb(194, 188, 188);
  border-radius: 50%;
}
.gallery_ima{
  width: 100%;
  padding: 5rem;
}
.gallery_contain{
  display: flex;
   gap: 1.2rem;
}
.gallery_images{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
 }
.gallery_images img:nth-child(1){
  width: 200px;
}
.gallery_images img:nth-child(2){
  width: 100px;
  margin-left: 55px;
}
.container form input{
  flex: 1;
  border: none;
} 
.container form button{
  transition: 0.5s;
}
 .images{
  width: 300px;
  height: 400px;;
  object-fit: cover;
 }
@media (max-width: 1170px) {
  .gallery_images img:nth-child(2){
    width: 100px;
    margin-left: 47px;
  }
}
@media (max-width: 900px) {
  .gallery_ima{
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
  .gallery_contain{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .p-grap .showcase_works{

  }
  .gallery_images{
    display: flex;
    flex-direction: row;
   }
  .gallery_images img:nth-child(1){
    width: 200px;
  }
  .gallery_images img:nth-child(2){
    width: 200px;
    margin-left: 0px;
  }
   .images{
    width: 100%;
    height: 400px;
    object-fit: contain;
   }
   #navbar {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    position: fixed;
    top: 0;
    height: 100vh;
    right: -300px;
    width: 300px;
    background-color: var(--white);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
  }
  #navbar.active {
    right: -0px;
  }

  #navbar li {
     margin-bottom: 25px;
     padding-top: 20px;
  }
  #mobile {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin-bottom: 5px;
  }
  #mobile i {
    color: var(--color);
    font-size: 24px;
    /* padding-left: 20px; */
  }
  #close {
    display: initial;
    position: absolute;
    top: 30px;
    right: 30px;
    color: var(--gray);
    font-size: 24px;
  }
  .bg-rainbow{
    width: 100%;
     
   }
}
@media (max-width: 799px) {
 
 
}

@media (max-width: 587px) {
  .container form input{
    flex: 0;
    border: none;
  } 
  #navbar {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    top: 0;
    height: 100vh;
    right: -200px;
    width: 200px;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 30px 0 0 10px;
    transition: 0.3s;
    text-align: left;
  }
  #navbar li a {
    text-align: left;
  }
  #mobile {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin-bottom: 30px;
  }
  #mobile i {
    color: var(--color);
    font-size: 24px;
    margin-top: 20px;
    /* padding-left: 20px; */
  }
  #close {
    display: initial;
    position: absolute;
    top: 0px;
    left: 160px;
    padding: 10px;
    color: var(--gray);
    font-size: 24px;
  }
  header {
    padding: 0px 20px;
  }
  a img {
    width: 70px;
  }
  .gallery_images img:nth-child(1){
    width: 150px;
  }
  .gallery_images img:nth-child(2){
    width: 150px;
    margin-left: 0px;
  }
 
  .images{
    width: 100%;
    height: auto;
    object-fit: contain;
   }
} 